*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background: rgb(23, 345, 567);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.about-section{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows:  200px 500px 200px;
    grid-gap: 2em;
}